amqp==2.2.2
Babel==2.5.3
billiard==3.5.0.3
celery==4.2.1
click==6.7
Flask==1.0.2
itsdangerous==0.24
Jinja2==2.10.1
kombu==4.2.0
MarkupSafe==1.0
pytz==2018.3
redis==2.10.6
tornado==5.0.2
vine==1.1.4
Werkzeug==0.14.1
requests==2.18.4
tensorflow==2.5.3
pandas==0.23.0
scikit_learn==0.19.1
sklearn_pandas==1.6.0
catboost==0.7
h5py==2.6.0
keras==2.1.5
filelock==3.0.4
pytest==3.0.5
xgboost==0.80
numpy==1.14.5
lightgbm==2.1.2
boto3==1.9.157
gunicorn==19.9.0
prediction-service==0.0.1
common_utils==0.0.1